@page "/"

<h1>IRISGlobalsNative.Extensions!</h1>

IRISGlobalsNative.Extensions Features

<div class="alert alert-info mt-4" role="alert">
    <span class="oi oi-pencil mr-2" aria-hidden="true"></span>
    <strong>Class-based Collection for Global.</strong>

    <span>
        One of the main feature of IRISGlobalsNative.Extensions is the Class-based Collection for Global. This is pretty helpful when you need to store temporary collection/s based from your model classes into your Global. You can utilize LINQ's capabilities without worrying about your Globals. All the collections will be saved at the single global named "^CollectionGlobals".
    </span>
</div>

<div class="alert alert-info mt-4" role="alert">
    <span class="oi oi-pencil mr-2" aria-hidden="true"></span>
    <strong>Json Provider for Globals.</strong>

    <span>
        Another feature of IRISGlobalsNative.Extensions is Json Provider for Globals. This is pretty helpful when you want import your import json data or export your imported json data into the globals. The library will extract all the possible paths and its value from your json file and save it individually into the specified Global. 
    </span>
</div>
